---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on 
    <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

<!-- Conference Papers Section -->
<h2 class="archive__subtitle">Conference Papers</h2>
<div style="font-size: 16px; width: 120%;">

<p>
  [<strong><span style="color:blue">C6</span></strong>] - 
  <strong><a href="#">
    Harnessing Vital Sign Vibration Harmonics for Effortless and Inbuilt XR User Authentication
  </a></strong><br>
  [Tianfang Zhang, Qiufan Ji, <strong>Md Mojibur Rahman Redoy Akanda</strong>, Zhengkun Ye, Ahmed Tanvir Mahdad, Cong Shi, Yan Wang, Nitesh Saxena, Yingying Chen] <br>
  2025 ACM SIGSAC Conference on Computer and Communications Security 
  (<strong><a href="https://www.sigsac.org/ccs/CCS2025/">CCS 2025</a></strong>) 
  [Acceptance Rate: <strong>13.9%</strong>] <br>
  <strong>
  <a href="https://www.sigsac.org/ccs/CCS2025/awards/" style="color:blue; text-decoration:none;">
    Received Distinguished Paper Award
  </a>
</strong>

</p>

  
  <p>
    [<strong><span style="color:blue">C5</span></strong>] - 
    <strong><a href="https://www.usenix.org/conference/usenixsecurity25">
      SoK: Inaccessible & Insecure: An Exposition of Authentication Challenges Faced by Blind and Visually Impaired Users in State-of-the-Art Academic Proposals
    </a></strong><br>
    [<strong>Md Mojibur Rahman Redoy Akanda</strong>, Amanda Lacy, Nitesh Saxena] <br>
    The 34th USENIX Security Symposium (<strong><a href="https://www.usenix.org/conference/usenixsecurity25">USENIX Security '25</a></strong>)   [Acceptance Rate: <strong>17.1%</strong>]
  </p>  
  <p>
    [<strong><span style="color:blue">C4</span></strong>] - 
    <strong><a href="https://dl.acm.org/doi/pdf/10.1145/3696410.3714579">
      Broken Access: On the Challenges of Screen Reader Assisted Two-Factor and Passwordless Authentication
    </a></strong><br>
    [<strong>Md Mojibur Rahman Redoy Akanda</strong>, Ahmed Tanvir Mahdad, Nitesh Saxena] <br>
    The 2025 ACM Web Conference (<strong><a href="https://www2025.thewebconf.org">WWW 2025</a></strong>)   [Acceptance Rate: <strong>19.8%</strong>]
  </p>

  <p>
    [<strong><span style="color:blue">C3</span></strong>] - 
    <strong><a href="https://dl.acm.org/doi/pdf/10.1145/3658644.3670358">
      SAFARI: Speech-Associated Facial Authentication for AR/VR Settings via Robust VIbration Signatures
    </a></strong><br>
    [Tianfang Zhang, Qiufan Ji, Zhengkun Ye, <strong>Md Mojibur Rahman Redoy Akanda</strong>, Ahmed Tanvir Mahdad, Cong Shi, Yan Wang, Nitesh Saxena, Yingying Chen] <br>
    2024 ACM SIGSAC Conference on Computer and Communications Security 
    (<strong><a href="https://www.sigsac.org/ccs/CCS2024/">CCS 2024</a></strong>) 
    [Acceptance Rate: <strong>16.9%</strong>]
  </p>
  
    <p>
    [<strong><span style="color:blue">C2</span></strong>] - 
    <strong><a href="https://dl.acm.org/doi/abs/10.1145/3576915.3623102">
      FaceReader: Unobtrusively Mining Vital Signs and Vital Sign Embedded Sensitive Info via AR/VR Motion Sensors
    </a></strong><br>
    [Tianfang Zhang, Zhengkun Ye, Ahmed Tanvir Mahdad, <strong>Md Mojibur Rahman Redoy Akanda</strong>, Cong Shi, Yan Wang, Nitesh Saxena, Yingying Chen] <br>
    2023 ACM SIGSAC Conference on Computer and Communications Security 
    (<strong><a href="https://www.sigsac.org/ccs/CCS2023/">CCS 2023</a></strong>) 
    [Acceptance Rate: <strong>19.87%</strong>]
  </p>
  
      <p>
    [<strong><span style="color:blue">C1</span></strong>] - 
    <strong><a href="https://link.springer.com/chapter/10.1007/978-981-15-5558-9_27">
      Voice-Controlled Smart Assistant and Real-Time Vehicle Detection for Blind People
    </a></strong><br>
    [<strong>Md Mojibur Rahman Redoy Akanda</strong>, Mohammad Masum Khandaker, Tushar Saha, Jahidul Haque, Anup Majumder, Aniruddha Rakshit] <br>
    Advances in Electrical and Computer Technologies: Select Proceedings of ICAECT 2019
    (<strong><a href="https://icact.co.in/icaect-2019-first-edition/">ICAECT 2019</a></strong>) 
  </p>

</div>

<!-- Journal Papers Section -->
<h2 class="archive__subtitle">Journal Papers</h2>
<div style="font-size: 16px; width: 120%;">

  <p>
    [<strong><span style="color:blue">J3</span></strong>] - 
    <a href="https://onlinelibrary.wiley.com/doi/pdf/10.1155/2022/8431450">
      <strong>Fault classification with convolutional neural networks for microgrid systems</strong>
    </a><br>
    [Prateem Pan, Rajib Kumar Mandal, <strong>Md Mojibur Rahman Redoy Akanda</strong>] <br>
    International Transactions on Electrical Energy Systems 2022, no. 1 (2022): 8431450.
  </p>

  <p>
    [<strong><span style="color:blue">J2</span></strong>] - 
    <strong><a href="https://www.ijesty.org/index.php/ijesty/article/download/88/69">
      Smart-devices in Human Behavior Manipula-tion: Process diagram with exploratory assessment
    </a></strong><br>
    [<strong>Md Mojibur Rahman Redoy Akanda</strong>, Md Alamgir Hossain] <br>
    International Journal of Engineering, Science and Information Technology (IJESTY), 2021, Volume 1, Issue 3
  </p>
  
    <p>
    [<strong><span style="color:blue">J1</span></strong>] - 
    <strong><a href="https://ijesty.org/index.php/ijesty/article/download/101/75">
A Noble Security Analysis of Various Distributed Systems
    </a></strong><br>
    [Sworna Akter, Md Alamgir Hossain, <strong>Md Mojibur Rahman Redoy Akanda</strong>] <br>
    International Journal of Engineering, Science and Information Technology (IJESTY), 2021, Volume 1, Issue 2
  </p>

</div>


<!-- Poster Papers Section -->
<h2 class="archive__subtitle">Book Chapter</h2>
<div style="font-size: 16px; width: 120%;">

  <p>
    [<strong><span style="color:blue">B1</span></strong>] - 
    <a href="https://www.taylorfrancis.com/chapters/edit/10.1201/9781003251903-13/iot-deep-learning-based-smart-healthcare-integrated-security-system-detect-various-skin-lesions-khairul-islam-zahidul-islam-al-amin-mojibur-rahman-redoy-akanda-shabuj-hossen-feroza-naznin-mohammad-ali-moni">
      <strong>IoT and Deep Learning-Based Smart Healthcare with an Integrated Security System to Detect Various Skin Lesions</strong>
    </a><br>
    [Khairul Islam, Zahidul Islam, Al Amin, <strong>Md Mojibur Rahman Redoy Akanda</strong>, Shabuj Hossen, Feroza Naznin, Mohammad Ali Moni] <br>
    Artificial Intelligence for Disease Diagnosis and Prognosis in Smart Healthcare (2023), CRC Press
  </p>

</div>

<!-- Journal Papers Section -->
<h2 class="archive__subtitle">Poster</h2>
<div style="font-size: 16px; width: 120%;">

  <p>
    [<strong><span style="color:blue">P1</span></strong>] - 
    <a href="https://dl.acm.org/doi/abs/10.1145/3565287.3623624">
      <strong>Poster: Unobtrusively Mining Vital Sign and Embedded Sensitive Info via AR/VR Motion Sensors</strong>
    </a><br>
    [Tianfang Zhang, Zhengkun Ye, Ahmed Tanvir Mahdad, <strong>Md Mojibur Rahman Redoy Akanda</strong>, Cong Shi, Nitesh Saxena, Yan Wang, Yingying Chen] <br>
29th ​International Symposium on Theory, Algorithmic Foundations, and Protocol Design for Mobile Networks and Mobile Computing 
    (<strong><a href="https://www.sigmobile.org/mobihoc/2023//">MobiHoc 2023</a></strong>)
  </p>

</div>
