<div class="widget">
  <h4 class="widget-title">Recent News</h4>
  <ul class="recent-news">
    <li>
      <a href="https://example.com/news-1" target="_blank">Paper accepted at XYZ Conference!</a>
      <span class="news-date">January 20, 2025</span>
    </li>
    <li>
      <a href="https://example.com/news-2" target="_blank">Invited to speak at ABC Workshop</a>
      <span class="news-date">December 15, 2024</span>
    </li>
    <li>
      <a href="https://example.com/news-3" target="_blank">New research on AR/VR security published</a>
      <span class="news-date">November 10, 2024</span>
    </li>
  </ul>
</div>
