<div class="widget">
  <h3 class="widget-title">Recent News</h3>
  <ul class="recent-news">
    
<li>
  Presented our paper at 
  <span class="paper-title">
    <a href="https://www.iaria.org/conferences2025/ComSECURWARE25.html">
      SECURWARE 2025.
    </a>
  </span> 
  <span class="news-date">April 18, 2025</span>
</li>

    <li>
  Invited to serve on the program committee of 
  <span class="paper-title">
    <a href="https://www2025.thewebconf.org/">
      The Web Conference 2025 (WWW2025)
    </a>
  </span> 
  held in Sydney, Australia.
  <span class="news-date">April 28 - May 2, 2025</span>
</li>
    
        <li> I have completed the 
      <span class="paper-title">
        <a href="https://cte.tamu.edu/prepare-future-faculty/academy-for-future-faculty">
          "Academy for Future Faculty (AFF) Associate Fellow Program"
        </a>
      </span> 
       at Texas A&M University, part of the CIRTL@TAMU initiative.
      <span class="news-date">April 14, 2025</span>
    </li>
    <li> Our Paper 
      <span class="paper-title">
        <a href="https://openreview.net/forum?id=NB9JFH6OtY&noteId=Q2T5sYKdum">
          "Broken Access: On the Challenges of Screen Reader Assisted Two-Factor and Passwordless Authentication"
        </a>
      </span> 
      is accepted to <b>ACM Web Conference (WWW) 2025</b>.
      <span class="news-date">January 20, 2025</span>
    </li>
        <li> Our paper 
      <span class="paper-title">
        <a href="#">
          "SAFARI: Speech-Associated Facial Authentication for AR/VR Settings via Robust Vibration Signatures"
        </a>
      </span> 
      is accepted to <b>ACM SIGSAC Conference on Computer and Communications Security (CCS) 2024</b>.
      <span class="news-date">November 15, 2024</span>
    </li>
        <li> Received the <b>Graduate Leadership Excellence Award</b> from  
      <span class="paper-title">Texas A&M University, College Station, TX</span>.
      <span class="news-date">March 7, 2024</span>
    </li>

    <li> Our paper 
      <span class="paper-title">
        <a href="#">
          "FaceReader: Unobtrusively Mining Vital Signs and Vital Sign Embedded Sensitive Info via AR/VR Motion Sensors"
        </a>
      </span> 
      is published in <b>ACM SIGSAC Conference on Computer and Communications Security (CCS) 2023</b>.
      <span class="news-date">October 30, 2023</span>
    </li>

    <li> Our poster 
      <span class="paper-title">
        <a href="#">
          "Unobtrusively Mining Vital Sign and Embedded Sensitive Info via AR/VR Motion Sensors"
        </a>
      </span> 
      is presented at <b>MobiHoc 2023</b>.
      <span class="news-date">September 10, 2023</span>
    </li>

    <li> Our book chapter 
      <span class="paper-title">
        <a href="#">
          "IoT and Deep Learning-Based Smart Healthcare with an Integrated Security System to Detect Various Skin Lesions"
        </a>
      </span> 
      is published in <b>Artificial Intelligence for Disease Diagnosis and Prognosis in Smart Healthcare, CRC Press (2023)</b>.
      <span class="news-date">July 5, 2023</span>
    </li>

    <li> Our journal paper 
      <span class="paper-title">
        <a href="#">
          "Fault Classification with Convolutional Neural Networks for Microgrid Systems"
        </a>
      </span> 
      is published in <b>International Transactions on Electrical Energy Systems (ITEES 2022)</b>.
      <span class="news-date">March 20, 2022</span>
    </li>

    <li> Our journal paper 
      <span class="paper-title">
        <a href="#">
          "Smart-Devices in Human Behavior Manipulation: Process Diagram with Exploratory Assessment"
        </a>
      </span> 
      is published in <b>International Journal of Engineering, Science and Information Technology (IJESTY 2021)</b>.
      <span class="news-date">December 10, 2021</span>
    </li>

    <li> Our journal paper 
      <span class="paper-title">
        <a href="#">
          "A Noble Security Analysis of Various Distributed Systems"
        </a>
      </span> 
      is published in <b>International Journal of Engineering, Science and Information Technology (IJESTY 2021)</b>.
      <span class="news-date">November 15, 2021</span>
    </li>

    <li> Our conference paper 
      <span class="paper-title">
        <a href="#">
          "Voice-Controlled Smart Assistant and Real-Time Vehicle Detection for Blind People"
        </a>
      </span> 
      is published in <b>Advances in Electrical and Computer Technologies: Select Proceedings of ICAECT 2019</b>.
      <span class="news-date">June 20, 2019</span>
    </li>
  </ul>
</div>
