<div class="widget">
  <h3 class="widget-title">Recent News</h3>
  <ul class="recent-news">
    <li>
      <a href="https://openreview.net/forum?id=NB9JFH6OtY&noteId=Q2T5sYKdum">Our paper “Broken Access: On the Challenges of Screen Reader Assisted Two-Factor and Passwordless Authentication” is accepted to ACM Web Conference (WWW) 2025.</a>
      <span class="news-date">January 20, 2025</span>
    </li>
    <li>
      <a href="https://example.com/news-2" target="_blank">Invited to speak at ABC Workshop</a>
      <span class="news-date">December 15, 2024</span>
    </li>
    <li>
      <a href="https://example.com/news-3" target="_blank">New research on AR/VR security published</a>
      <span class="news-date">November 10, 2024</span>
    </li>
  </ul>
</div>
